// Imported Bootstrap components
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
// @import 'overrides/bootstrap';
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/utilities";

//Fonts
@import url("https://fonts.googleapis.com/css2?family=Almendra:wght@700&family=PT+Serif&display=swap");

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  padding: 0;
  margin: 0;
}

.dropshadow {
  box-shadow: 0px 4px 4px rgba(black, 0.25);
}

.almendra {
  font-family: "Almendra", serif;
}

.pt-serif {
  font-family: "PT Serif", serif;
}
